<div class="row">
	<div class="row">
		<div class="col-xs-12">
			{{textarea value=message placeholder="Comenta esta publicacion!" class="form-control"}}
			<button class="btn btn-block btn-info pull-right" {{action 'publish'}}>Comentar</button>
		</div>
	</div>
</div>
