<div class="md-col-12">
	<div class="row">
	  	{{#collection Ember.VirtualListView height=300 rowHeight=110 contentBinding="model.comments"}}
	  		{{comment-brief model=this}}
	  	{{/collection}}		
	</div>
</div>
