{{#if comments.arrangedContent}}
<div class="md-col-12">
	<div class="row">
		{{#if moreThanTree}}
		  	{{#collection Ember.ListView height=300 rowHeight=110 content=comments.arrangedContent}}
		  		{{comment-brief model=this}}
		  	{{/collection}}
		{{else}}
		  	{{#collection content=comments.arrangedContent}}
		  		{{comment-brief model=this}}
		  	{{/collection}}
		{{/if}}
	</div>
</div>
{{/if}}
