<div class="container">
  <h3>Edit/Create Entry Template</h3>
  {{#form-for controller wrapper="personFormWrapper"}}
	<div class='wysiwyg-container'>
      {{wysiwyg-editor content=message header="Message"}}
    </div>  
   	{{submit}}
  {{/form-for}}  
</div>
