<div class="container">
  {{#if session.isAuthenticated}}
    <ul class="list-inline">
      <li class="pull-right">{{#link-to-animated "new_entry" animations="main:slideUp"}}<i class="fa fa-plus"></i> New Entry{{/link-to-animated}}</li>
    </ul>    
  {{/if}}
  
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 view-entries">
	  	{{#collection contentBinding="controller"}}
	  		{{entry-brief modelBinding=this}}
	  	{{/collection}}
  	</div>
  </div>
</div>


