<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 view-entries">
      <div class='entries-simple row'>
        <div class="row">
          <div class="col-md-2">
            <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png" alt="" class="img-rounded" width="36">
          </div>
          <div class="col-md-10 entrie-simple-summary">
            {{#link-to "user_profile" model.author class="h3"}}
              {{model.author.username}}
            {{/link-to}}
            <p>{{{message}}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <ul class="nav nav-pills entries-simple-btn">
              <li>{{#link-to-animated "entries" classNames="btn btn-default" animations="main:slideLeft"}}
                <i class="fa fa-long-arrow-left"></i> Todas las publicaciones{{/link-to-animated}}
              </li>
              {{#if session.isAuthenticated}}
                {{#if canEdit}}
                  <li>
                    {{#link-to-animated "edit_entry" model classNames="btn btn-default" animations="main:slideLeft"}}
                    <i class="fa fa-pencil"></i> Editar{{/link-to-animated}}
                  </li>
                  <li>
                    <a href="#" class="btn btn-default" {{action "destroy"}}><i class="fa fa-trash-o"></i> Eliminar</a>
                  </li>
                {{/if}}
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

