<div class="container">
	<div class="col-md-8 col-md-offset-2 text-center">
		<div class="form-group">
			<div class="col-md-12">
				<p>
					<a href="#" class="btn btn-default btn-lg">Botón Large</a>
					<a href="#" class="btn btn-default">Medium</a>
					<a href="#" class="btn btn-default btn-sm">Small</a>
					<a href="#" class="btn btn-default btn-xs">Extra small</a>
				</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<p>
					<a href="#" class="btn btn-primary">Primary</a>
					<a href="#" class="btn btn-success">Success </a>
					<a href="#" class="btn btn-danger">Danger</a>
					<a href="#" class="btn btn-warning">Warning</a>
				</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<p>
					<a href="#" class="btn btn-default btn-round">Round</a>
					<a href="#" class="btn btn-default disabled">Disabled</a>
				</p>
			</div>
		</div>
	</div>
</div>
