<div class="container">
  <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
    <div class="page-header text-center">
        <h1><b>Ingresar</b></h1>
    </div>
    {{#if errorMessage}}
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    {{/if}}

    <form {{action "authenticate" on="submit"}} class="mar-lv3 mar-t0 mar-lr0">
      <div class="form-group">
        <label for="identification" class="control-label">Usuario</label>
        {{input type="text" class="form-control" id="identification" value=identification autofocus="autofocus"}}
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Contraseña</label>
        {{input type="password" class="form-control" id="password" value=password}}
      </div>
      <button type="submit" class="btn btn-primary btn-round"><i class="fa fa-unlock-alt"></i> Ingresar</button>
    </form>
  </div>
</div>
