<div class="icon-list">

	{{#link-to-animated "entries" animations="main:slideLeft"}}
		<i class="fa fa-quote-right"></i>
		Publicaciones
	{{/link-to-animated}}

	{{#if session.isAuthenticated}}
		{{#if session.currentUser.profile}}
			{{#link-to-animated "new_entry" animations="main:slideLeft"}}
				<i class="fa fa-fw fa-plus"></i>
				Publicar
			{{/link-to-animated}}
			<a href="#" {{action "invalidateSession"}}>
				<i class="fa fa-fw fa-power-off"></i>
				Logout
			</a>
		{{else}}
			{{#link-to-animated "new_profile" animations="main:slideLeft"}}
				<i class="fa fa-fw fa-user"></i>
				Crear perfil
			{{/link-to-animated}}
		{{/if}}
	{{else}}

		{{#link-to-animated "login" animations="main:slideLeft"}}
			<i class="fa fa-fw fa-unlock-alt"></i>
			Ingresar
		{{/link-to-animated}}

		{{#link-to-animated "signup" animations="main:slideLeft"}}
			<i class="fa fa-fw fa-rocket"></i>
			Crear cuenta
		{{/link-to-animated}}

	{{/if}}
</div>


