<div class="icon-list">
	<a href="#"><i class="fa fa-fw fa-star-o"></i><span>Favoritos</span></a>
	<a href="#"><i class="fa fa-fw fa-bell-o"></i><span>Notificaciones</span></a>
	<a href="#"><i class="fa fa-fw fa-envelope-o"></i><span>Mensajes</span></a>
	<a href="#"><i class="fa fa-fw fa-comment-o"></i><span>Comentarios</span></a>
	<a href="#"><i class="fa fa-fw fa-bar-chart-o"></i><span>Estadisticas</span></a>
</div>


