<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 text-center">
			<div class="row">
				<img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png" alt="" class="img-rounded helper-mr10 " width="150">
				<h2>
					{{ name }} <b>{{ last_name }}</b>
				</h2>
				{{#if canEdit}}
					{{#linkTo "edit_profile" model}}Edit{{/linkTo}}
				{{/if}}
				<div class="row">
					<div class="col-md-12">
					  <b>Edad</b> {{ age }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
