<section class="container">
	<div class="page-header">
    <h3>Perfil</h3>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<div class="row">
			<div class="col-md-12">
			  <b>Edad</b> {{ age }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
			  <b>Nombre</b> {{ name }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
			  <b>Apellido</b> {{ last_name }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
			  <b>Avatar</b> {{ avatar }}
			</div>
		</div>

		{{#if canEdit}}
			{{#linkTo "edit_profile" model}}Edit{{/linkTo}}
		{{/if}}
</div>
</section>