// Typography
$font-family-sans-serif: "Lato", sans-serif !default;

// Brand colors
$brand-primary: #4f8edd;
$brand-success: #85c844;
$brand-warning: #cba50d;
$brand-danger: #e72c3c;
$brand-info: #2bbce1;

// Navbar
$navbar-height: 40px;
$navbar-inverse-bg: #313338;

// Buttons
$btn-font-weight: 600;
$btn-default-bg: #e6e7e7;
$btn-default-border: #e6e7e7;

// Alerts and form states
$state-success-text: #527f26;
$state-success-bg: #ebf6e1;
$state-success-border: #b8df92;
$state-info-text: #157890;
$state-info-bg: #ddf4fb;
$state-info-border: #84d8ed;
$state-warning-text: #917608;
$state-warning-bg: #fbf3d0;
$state-warning-border: #f6dc6f;
$state-danger-text: #a81515;
$state-danger-bg: #fdf2f2;
$state-danger-border: #f29797;

// Forms
$input-border-radius: 0;
$input-border-focus: #2598f9;

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/bootstrap-social/bootstrap-social";



html, body {
  height: 100%;
}

body {
  padding-top: 60px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  // I am using 140px instead of 120px to give some room between #wrap and #footer
  // Otherwise footer will be almost touching your page content
  padding: 0 0 140px;
}

.inner-wrap {
top: 80px;
}

#footer {
  height: 120px;
  padding-top: 20px;
  background-color: $navbar-default-bg;
  border-top: 1px solid $navbar-default-border;
}

.alert {
  border-radius: 1px;
}

.form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.navbar-brand {
  /*background-image: url(http://www.joyent.com/content/07-blog/722-joyent-to-sponsor-and-present-at-mongosv-2012/mongodb-leaf.png);*/
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
 
}

.helper-mr10 {
  margin-right: 10px
} 

.profile {
  position: relative;
  top: 3px;
  margin: 0 15px 0 0;
}


[class^="fa-"],
[class*="fa-"] {
  margin-right: 5px;
}

.entries-simple {
  border-bottom: 2px solid #ccc;
  padding: 25px;
  margin: 55px -15px;
  background: #f4f4f4;
}



.entries-simple hr {
    margin: 20px -25px;
    border-top: 1px solid #dbdcdb;
}




.ember-animated-container {
  top: 0;
  height: auto !important;
  width: auto; 
  margin-top: 105px;
}



.fade-out {
  display: none;
}

#global-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  opacity: 0.5;
  text-align: center;
}

.bubblingG {
  position: absolute;
  text-align: center;
  width:100%;
  top: 44%;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: #000000;
-moz-border-radius: 50px;
-moz-animation: bubblingG 1.8s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 1.8s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 1.8s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 1.8s infinite alternate;
border-radius: 50px;
animation: bubblingG 1.8s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 1.08s;
-webkit-animation-delay: 1.08s;
-ms-animation-delay: 1.08s;
-o-animation-delay: 1.08s;
animation-delay: 1.08s;
}

#bubblingG_2 {
-moz-animation-delay: 0.54s;
-webkit-animation-delay: 0.54s;
-ms-animation-delay: 0.54s;
-o-animation-delay: 0.54s;
animation-delay: 0.54s;
}

#bubblingG_3 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
transform: translateY(-21px);
}

} 

.entrie-simple-summary iframe {
  display:block;
  width: 100% !important;
  margin: 0 auto;
}

