// Typography
$font-family-sans-serif:  'PT Sans', sans-serif !default; 
$font-family-serif:       'PT Serif', Times, serif !default;
$font-family-monospace:   'PT Mono', monospace !default;

// Navbar
$navbar-height: 40px;
$navbar-inverse-bg: #313338;

// Buttons
$btn-font-weight: 600;
$btn-default-bg: #e6e7e7;
$btn-default-border: #e6e7e7;

// Alerts and form states
$state-success-text: #527f26;
$state-success-bg: #ebf6e1;
$state-success-border: #b8df92;
$state-info-text: #157890;
$state-info-bg: #ddf4fb;
$state-info-border: #84d8ed;
$state-warning-text: #917608;
$state-warning-bg: #fbf3d0;
$state-warning-border: #f6dc6f;
$state-danger-text: #a81515;
$state-danger-bg: #fdf2f2;
$state-danger-border: #f29797;

// Forms
$input-border-radius: 0;
$input-border-focus: #2598f9;

@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social/bootstrap-social";
@import "lib/font-awesome/font-awesome";

* {
	outline: none !important;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.ember-list-view {
  overflow: auto;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
  width: 100%;
}